extends layout

block content
  div.View
    h1.Banner #{title} presents
    div.Message
      div.Title
        h3 Showing the most curious
        h1 Trends related to Coronavirus
  p UWB Hacks the Cloud. #{title}


