extends layout

block scripts
  script(async, defer, src="/javascripts/bundle.js")

block content
  div.View
    div.Banner
      h3 Showing curious Wiki
      h1 Trends related to Coronavirus
      h2 ***
      h2 Graphs below compare pageviews across multiple Wikipedia pages since the beginning of 2020
    div#container
    div.Message
      div.Title
        h3 Coronavirus
        h2 vs
        h3 Spanish Flu
        h2 vs
        h3 Hydroxychloroquine
    div#container2
    div.Message
      div.Title
        h3 Boris Johnson
        h2 vs
        h3 Joe Exotic
        h2 vs
        h3 Carole Baskin
        h2 vs
        h3 Andrew Cuomo
        h2 vs
        h3 Jay Inslee
    div#container3
    div.Message
      div.Title
        h3 Martial Law
        h2 vs
        h3 Stock Market
        h2 vs
        h3 Lockdown


